body {
    color: aliceblue;
    font-family: 'Roboto Mono', monospace;
    background: linear-gradient(48deg, #43304c, #000000, #390404);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 160s ease infinite;
    -moz-animation: AnimationName 160s ease infinite;
    animation: AnimationName 160s ease infinite;
    box-sizing: border-box;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 15px;
}

/*    ----HEADER------ */
header {
    /*    width:100%; */
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #161515;
    margin: 10px 0 10px 0;
      border-radius: 6px;
}

.logo-block {
    /*     margin: 40px; */

    text-decoration: none;
    color: white;
    background-color: #453128;
    cursor: pointer;
    padding: 10px;
    margin:10px 0 10px 40px;
    border-radius: 5px;
}

.logo-block:hover {
    background-color: #644d3d;
}

.logo-title {
    font-size: 25px;
}

.logo-icon {
    width: 20px;
    border-radius: 5px;
}

.navigation {
}

.nav-list {
    display: flex;
}

.nav-item {
    margin-right: 40px;
    cursor: pointer;
}

.nav-link {
    text-decoration: none;
    color: white;
    padding: 10px;
    transition: 0.2s ease;
    font-size: 18px;
}

.nav-link:hover {
    transform: scale(1.1);
    background-color: orangered;
    border-radius: 10px;
}

/* ----CARDS-BLOCK------- */
.card-section {

}

.cards-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-wrapper {
    overflow: hidden;
    max-width: 300px;
    max-height: 320px;
}

.card {
    color: white;
    margin: 2% 1%;
}

.card-image {
    max-width: 100%;
    height: 320px;
    transition: 0.4s ease;
    border-radius: 10px;
}

.card:hover .card-image {
    transform: scale(1.1);
}

.card-title {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    background-color: #314b65;
}

/*    ----FOOTER---------- */
.footer {
    margin-top: 10px;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #161515;
    border-radius: 6px;
}

.footer-logo-block {
    text-decoration: none;
    color: white;
    background-color: #453128;
    cursor: pointer;
    padding: 10px;
    margin:10px 0 10px 40px;
    border-radius: 5px;
}

.logo-title {
}
.copyright {
    margin-right: 40px;
}
/*    ----ANIMATION------ */
@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 60%
    }

    50% {
        background-position: 100% 41%
    }

    100% {
        background-position: 0% 60%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 60%
    }

    50% {
        background-position: 100% 41%
    }

    100% {
        background-position: 0% 60%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 60%
    }

    50% {
        background-position: 100% 41%
    }

    100% {
        background-position: 0% 60%
    }
}
