h1,h2,h3,h4,h5,ul {
  margin: 0;
}
.main-container {
}

.main-inner {
  display: flex;
  column-gap: 20px;
  background-color: #3a3a41;
  border-radius: 10px;
}

.main-list {
}

/* --MISSILES--LIST-- */


.nato-missiles-list, .russia-missiles-list {
  /* padding: 20px; */
  display: none;
}
.active {
  display: block;
}
.missiles-list-title {
  margin: 16px 0 0px 16px;
  text-transform: capitalize;
  font-size: 14px;
  cursor: pointer;
}
.missiles-list-title:hover {
  background-color: #9b8585;
 
}
.missile-item {
  /* display: none; */
  margin: 10px 0 8px 0;
  font-size: 12px;
  text-transform: capitalize;
  cursor: pointer;
margin-left:40px;
}
.missile-item:hover {
 background-color:#9b8585;

border-radius:6px;

}
.list-item {
  text-transform: capitalize;
  margin: 20px 0 20px 20px;
}

.list-item:hover {
  transform: scale(1.1) translateX(10px);
}

.list-link {
  text-decoration: none;
  font-size: 10px;
  color: white;
  margin: 30px 30px 20px 1px;
}

/*   ---MAIN-CONTENT--- */
.main-content {
  background-color: #161515;
  color: white;
  flex-grow: 2;
  border-radius: 10px;
}

.main-content iframe {
  width: 88%;
  height: 70vh;
  margin-left: 50px;
  /* padding: 20px; */
  font-size: 10px;
  line-height: 20px;
}

.main-info {
 color:white;
 line-height: 14px;
 letter-spacing: 2px;
 font-size: 10px;
 display: flex;
   flex-direction:column;
}
.main-info p {
  text-indent: 20px;
  margin: 6px;
}
.main-info h3 {
  padding: 4px 0 4px 20% ;
}
.missile-title {
 margin: 10px;
}
.missile-prop-list {
margin: 10px;
}
.missile-prop-item {

}
ul {
  /* text-align: center; */
}
/*---FOOTER--*/
.copyright {
  margin-right: 40px;
}

/* ---AIM120-BLOCK-- */
.aim120-block {
    display: flex;
   flex-direction:column;
  
}
.aim120-block p {
  color:white;
  line-height: 18px;
  letter-spacing: 2px;
  font-size: 10px;
  text-indent: 20px;
  margin: 6px;
}


@media (max-width: 800px) { 
 
    .missiles-list-title, .missile-item, .logo-title, .nav-link, .main-info p, .missile-prop-list, .main-info {
    font-size: 10px;
    
  }
  #main-iframe {
    margin: 0;
  }
 }

 @media (max-width: 700px) { 
  .main-inner {
    display: flex;
    flex-direction: column;
  }
 }
 